.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: pointer;
}
.app.in {
  background-color: #E6E18F;
}

.app.out {
  background-color: #92977E;
}

.clock { 
  user-select: none;
  cursor: pointer;
  font-size: 50px;
}
.in .clock {
  color: #92977E
}

.out .clock {
  color: #E6E18F
}

.inDuration {
  font-size: 20px;
  color: #E6E18F
}
/* 
#92977E
#E6E18F
#FEFCAD
#EADDA6
#FFFAE2
*/